.advantages-bg {
  background: var(--color-12);
}

.advantages {
  padding: 120px 20px;
}

.advantages h2 {
  margin-bottom: 60px
}

.advantages ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  gap: 40px 80px;
}

.advantages li {
  background: var(--color-11);
  padding: 20px;
  border-radius: 8px;
}

.advantages h3,
.advantages img {
  margin-bottom: 8px
}

@media (max-width: 800px) {
  .advantages {
    padding: 60px 20px;
  }
}