.menu-icon {
  display: none;
}

@media(max-width: 800px) {
  .menu-icon {
    display: block;
  }
  
  #checkbox-menu {
    position: absolute;
    opacity: 0;
  }
  
  .menu-icon label {
    cursor: pointer;
    position: relative;
    display: block;
    width: 24px;
    height: 20px;
  }
  
  .menu-icon  label span {
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background: #f7f7f7;
    transition: 0.25s ease-in-out;
  }
  
  .menu-icon label span:nth-child(1) {
    top: 0;
  }
  
  .menu-icon label span:nth-child(2) {
    top: 8px;
  }
  
  .menu-icon label span:nth-child(3) {
    top: 16px;
  }
  
  #checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
  }
  
  #checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
  }
  
  #checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top:8px;
  }
  
  .header-menu {
    display: none;
    flex-direction: column;
    text-align: end;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
    position: absolute;
    top: 65px;
    right: 0px;
    background: var(--color-12);
    width: 100%;
    z-index: 5;
  }

  @keyframes slideDown {
    from {
        transform: translateY(5%);
    }
    to {
        transform: translateY(0);
    }
  }

  .header-menu a {
    background: none;
    padding-left: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 10px;
  }

  .header-menu a:hover {
    background: none;
  }

  .header-menu li:nth-child(1) {
    border-top: 2px solid var(--color-5);
    padding-top: 5px;
  }

  .header-menu li {
    border-bottom: 2px solid var(--color-5);
    width: 100%;
  }

  .header-menu a.active {
    font-size: 1em;
    background: var(--color-0);
    color: var(--color-12);
    padding: 20px;
    width: 100%;
 }

  .header-menu.active {
  display: block;
  animation: slideDown 0.5s ease;
  }
}